*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-display: swap;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/audiowide-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Funnel Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/funnel-sans-v3-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Funnel Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/funnel-sans-v3-latin-italic.woff2") format("woff2");
}

body {
  display: flex;
  font-family: "Funnel Sans";
}

.pic-content {
  position: relative;
}

.pic-content > figure:first-child {
  position: relative;
}

.logo {
  position: absolute;
  top: 300px;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo img {
  width: 5rem;
}

.logo-text {
  color: white;
  font-family: "Audiowide";
  font-size: 2.5rem;
  align-self: center;
  margin-left: 1rem;
}

.pic-content > figure:first-child > figcaption {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  text-align: center;
}

.pic-content > figure:first-child > figcaption > a {
  text-decoration: underline;
  color: white;
}
